<section>
  

  <h1>Countries</h1>
	<table>
		<tr>
			<td><div id="chart_div" style="width: 450px; height: 200px;"></div></td>
			<td><div id="chart_div2" style="width: 300px; height: 150px;"></div></td>
		</tr>
	</table>	
	<%= form_tag trips_path(:source => 'countries'), :remote => true, :id => 'mass_form' do %>
	<div>
      <%= submit_tag "Mass Visit" %>
      <%= submit_tag "Unvisit" %>

  </div>
  <table>
    <tr>
			<th>
        <%= check_box_tag 'master', 
                        "master", 
                        false, 
                        :class => 'check', :id => "checkbox_master" %>
      </th>
      <th>Name 
					<input type="text" class="filter" name="filter" id="filter" />
			</th>
      <th>Code</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>

  <% @countries.each do |country| %>
    <tr class="named_row" >
			<td><%= check_box_tag 'country_ids[]', 
												country.id, 
												false, 
												:class => 'check', :id => "checkbox_code_#{country.id}" %></td>
      <td class="_name"><%= country.name %></td>
      <td><%= country.code %></td>
      <td class="status"><%= @visited_countries.include?(country) ? 'Visited' : 'Not Visited' %></td>
      <td><%= link_to 'Show', country %></td>
      <td><%= link_to 'Edit', edit_country_path(country) %></td>
    </tr>
  <% end %>
  </table>
	<% end %>
</section>
